{% load static %}
<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
<link rel="stylesheet" href="{% static 'css/jquery-ui.css' %}">
<link rel="stylesheet" href="{% static 'css/slick.css' %}">
<link rel="stylesheet" href="{% static 'css/line-awesome.css' %}">
<link rel="stylesheet" href="{% static 'css/nice-select.css' %}">
<link rel="stylesheet" href="{% static 'css/style.css' %}">
<link rel="stylesheet" href="{% static 'css/responsive.css' %}">
<link rel="shortcut icon" href="{% static 'images/favicon.png' %}" type="image/x-icon">


<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="RAFCART - Multipurpose eCommerce HTML Template">
    <meta name="author" content="Programming Kit">
    <title>KMG ecommerce-website</title>
    <link rel="shortcut icon" href="assets/images/favicon.png" type="image/x-icon">

    <!-- all css -->  

</head>

<body>

    <nav class="d-none d-lg-block home-3">
        <div class="container">
            <div class="d-flex">
                <ul class="nav_bar flex-grow-1">
                    <li class="withsubs">
                        <a href="{% url 'index'%}">Home</a>
                    </li>
                    <li class="withsubs">
                        <a href="{%url 'shop'%}">Shop</a>
                    </li>
                    <li class="withsubs">
                        <a href="{% url 'contact' %}">contact</a>
                    </li>
                    
                    <li class="withsubs"> 
                        <a href="{% url 'login' %}">Login</a>
                    </li>
                    <li class="withsubs">
                        <a href="{% url 'register' %}">register</a>
                    </li>    
                </ul>    
    </nav>

   <!-- shop grid view -->
   <div class="shop_wrap section_padding_b">
    <div class="container">
       
                <div class="shop_products">
                    <div class="row gy-4">
                        <div class="col-md-4 col-sm-6">
                            <div class="single_new_arrive">
                                <div class="sna_img">
                                    <img loading="lazy" class="prd_img" src="{% static 'images/laptop-3.png' %}" alt="product">
                                    <span class="tag">Hot</span>
                                </div>
                                <div class="sna_content">
                                    <a href="product-view.html">
                                        <h4>HP Pavilion 15</h4>
                                    </a>
                                    <div class="ratprice">
                                        <div class="price">
                                            <span class="org_price">$45.00</span>
                                        </div>
                                       
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-6">
                            <div class="single_new_arrive">
                                <div class="sna_img">
                                    <img loading="lazy" class="prd_img" src="{% static 'images/shoes-5.png' %}" alt="product">
                                 
                                </div>
                                <div class="sna_content">
                                    <a href="product-view.html">
                                        <h4>Men Casual Shoes</h4>
                                    </a>
                                    <div class="ratprice">
                                        <div class="price">
                                            <span class="org_price">$45.00</span>
                                            
                                        </div>
                                        <div class="rating">
                                            <div class="d-flex align-items-center justify-content-start">
                                                <div class="rating_star">
                                                    <span><i class="las la-star"></i></span>
                                                    <span><i class="las la-star"></i></span>
                                                    <span><i class="las la-star"></i></span>
                                                    <span><i class="las la-star"></i></span>
                                                    <span><i class="las la-star"></i></span>
                                                </div>
                                                
                                            </div>
                                        </div>
                                    </div>
                                    <div class="product_adcart">
                                       
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-6">
                            <div class="single_new_arrive">
                                <div class="sna_img">
                                    <img loading="lazy" class="prd_img" src="{% static 'images/headphone-3.png' %}" alt="product">
                                 
                                </div>
                                <div class="sna_content">
                                    <a href="product-view.html">
                                        <h4>COWIN E7 Active</h4>
                                    </a>
                                    <div class="ratprice">
                                        <div class="price">
                                            <span class="org_price">$45.00</span>
                                          
                                        </div>
                                       
                                    </div>
                                   
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-6">
                            <div class="single_new_arrive">
                                <div class="sna_img">
                                    <img loading="lazy" class="prd_img" src="{% static 'images/phone-1.png' %}" alt="product">
                                  
                                </div>
                                <div class="sna_content">
                                    <a href="product-view.html">
                                        <h4>Xiaomi Note 7 Pro</h4>
                                    </a>
                                    <div class="ratprice">
                                        <div class="price">
                                            <span class="org_price">$45.00</span>
                                          
                                        </div>
                                       
                                    </div>
                                    <div class="product_adcart">
                                        
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-6">
                            <div class="single_new_arrive">
                                <div class="sna_img">
                                    <img loading="lazy" class="prd_img" src="{% static 'images/phone-1.png' %}" alt="product">
                                  
                                </div>
                                <div class="sna_content">
                                    <a href="product-view.html">
                                        <h4>iPhone 11 Pro</h4>
                                    </a>
                                    <div class="ratprice">
                                        <div class="price">
                                            <span class="org_price">$45.00</span>
                                         
                                        </div>
                                        <div class="rating">
                                       
                                        </div>
                                    </div>
                                    <div class="product_adcart">
                                        
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-6">
                            <div class="single_new_arrive">
                                <div class="sna_img">
                                    <img loading="lazy" class="prd_img" src="{% static 'images/laptop-2.png' %}" alt="product">
                                    <div class="prodcut_hovcont">
                                    
                                    </div>
                                </div>
                                <div class="sna_content">
                                    <a href="product-view.html">
                                        <h4>HP Omen 13</h4>
                                    </a>
                                    <div class="ratprice">
                                        <div class="price">
                                            <span class="org_price">$45.00</span>
                                           
                                        </div>
                                        <div class="rating">
                                            
                                        </div>
                                    </div>
                                    <div class="product_adcart">
                                        
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-6">
                            <div class="single_new_arrive">
                                <div class="sna_img">
                                    <img loading="lazy" class="prd_img" src="{% static 'images/shoes-4.png' %}" alt="product">
                                
                                </div>
                                <div class="sna_content">
                                    <a href="product-view.html">
                                        <h4>Women high Shoes</h4>
                                    </a>
                                    <div class="ratprice">
                                        <div class="price">
                                            <span class="org_price">$45.00</span>
                                          
                                        </div>
                                        <div class="rating">
                                          
                                        </div>
                                    </div>
                                    <div class="product_adcart">
                                       
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-6">
                            <div class="single_new_arrive">
                                <div class="sna_img">
                                    <img loading="lazy" class="prd_img" src="{% static 'images/headphone-2.png' %}" alt="product">
                                 
                                </div>
                                <div class="sna_content">
                                    <a href="product-view.html">
                                        <h4>Bose Headphone</h4>
                                    </a>
                                    <div class="ratprice">
                                        <div class="price">
                                            <span class="org_price">$45.00</span>
                                           
                                        </div>
                                        <div class="rating">
                                           
                                        </div>
                                    </div>
                                    <div class="product_adcart">
                                        
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-6">
                            <div class="single_new_arrive">
                                <div class="sna_img">
                                    <img loading="lazy" class="prd_img" src="{% static 'images/phone-1.png' %}" alt="product">
                                    <div class="prodcut_hovcont">
                                     
                                    </div>
                                </div>
                                <div class="sna_content">
                                    <a href="product-view.html">
                                        <h4>iPhone 12 Pro XR</h4>
                                    </a>
                                    <div class="ratprice">
                                        <div class="price">
                                            <span class="org_price">$45.00</span>
                                            
                                        </div>
                                        <div class="rating">
                                           
                                        </div>
                                    </div>
                                    <div class="product_adcart">
                                       
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
</div>

    <!--                    -->

    <footer class="colored">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 mb-4 mb-md-0">
                    <div class="row">
                        <div class="col-12 col-md-6 col-lg-12">
                            <div class="footer_logo">
                                <img loading="lazy" src="{% static 'images/svg/logo.svg' %}" alt="easy shop">
                            </div>
                            <div class="footet_text">
                                <p>Lorem ipsum, or lipsum as it is sometimes kno
                                    wn, is dummy text used in laying out print, gra
                                    phic or web designs the passage.</p>
                            </div>
                        </div>
                        <div class="col-12 col-md-6 col-lg-12">
                            <div class="footer_newslet">
                                <h4>Newsletter</h4>
                                <form class="footernews_form">
                                    <input type="text" placeholder="Your email address">
                                    <button type="submit" class="default_btn">Subscribe</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            
                <div class="col-lg-4">
                    <div class="footer_download">
                        <div class="row">
                            <div class="col-lg-6 col-lg-12">
                                <h4 class="footer_title">Contact</h4>
                                <div class="footer_contact">
                                    <p>
                                        <span class="icn"><i class="las la-map-marker-alt"></i></span>

                                        egypt cairo Badr city
                                    </p>
                                    <p class="phn">
                                        <span class="icn"><i class="las la-phone"></i></span>
                                        +20 1004993573
                                    </p>
                                    <p class="eml">
                                        <span class="icn"><i class="lar la-envelope"></i></span>
                                        masterkhaled33@gmail.com
                                    </p>
                                </div>
                            </div>
                            <div class="footer_social col-lg-6 col-lg-12">
                                <div class="footer_icon d-flex">
                                    <a href="#" class="facebook"><i class="lab la-facebook-f"></i></a>
                                    <a href="#" class="twitter"><i class="lab la-twitter"></i></a>
                                    <a href="#" class="instagram"><i class="lab la-instagram"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
